
.search-vector{
	position: absolute;
	bottom:0px;
	right: 0px;
	width:78vw;
	height:45vh;
}

@media only screen and (min-width: 1200px) {
	.SearchUser {
		width: calc(100vw - 38vh);
		margin: 0;
    }
}

@media only screen and (min-width: 1200px) {
	.search-vector{
		position: absolute;
		bottom:0px;
		right: 0px;
		width:84vw;
		height:45vh;
	}
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .SearchUser {
    	width: calc(100vw);
		margin-top: 15vh;
	}

}