/*--------------------------------------*\
	    USER_ITEM
\*--------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Barlow');



.user .user_contents {
    font-family: Barlow, sans-serif;
    font-size: 1.75vw;
    width: 40vw;
    float: left;
    color: #b2b2b2;
    margin-bottom: 3vw;
}

.user {
    margin: 0 4vw 0 4vw;
    background: #FFFFFF;
    border: 3px solid #D7E2EA;
    box-sizing: border-box;
    border-radius: 17px;
    height: 12vh;
    width: 45vw;
}

.user hr {
    width: 100%;
    border-top: 1px solid rgba(200, 200, 200, .4);

    height: 0px;
    margin-bottom: 3vw;
}

.user .user_date {
    font-family: Barlow, sans-serif;
    width: 10vw;
    float: right;
    color: #b2b2b2;
}
.username-user{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(0%, -50%);
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 24px;
    color: #7F91A8;
}
.avatar-user {
    margin-top: 0vh;
    margin-bottom: 3vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 5vw;
    border-radius: 50%;
    border: 1vw solid #98AABB;
    border-style: double;
    height: 5vw;
    float: left;
    margin: 0.85vh 1vh 2vw 1vw;
}

.avatar-user img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: calc(100%);
    height: calc(100%);
    border-radius: 50%;
}

.user .user-dropdown {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(0%, -50%);
    font-size: 10.0vw;
    line-height: 100px;
}