/*--------------------------------------*\
	    USER_ITEM
\*--------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Barlow');




.useritem {
    margin: 0 5vw 0 4vw;
    font-family: Barlow, sans-serif;
    font-size: 1.75vw;
    width: 44vw;
    float: left;
    color: #b2b2b2;
    font-family: Barlow, sans-serif;
    font-size: 2.0vw;
    border-bottom-style: solid;
    border-width: 2px;
    border-radius: 12px;
    height: 12vh;
}

.userButton{
    width: 5vw;
    height: 6vh;
    background-color: white;
    border-radius: 12px;
    font-size:0.75vw;
    font-family: Barlow;
    float: right;
    top: 50%;
    right: 3%;
    transform: translateY(-200%);
    margin-right: 2%;
}
.username-user{
    color: #b2b2b2;
    font-family: Barlow, sans-serif;
    padding-left: 7vw;
}

.avatar-user {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 4vw;
    border-radius: 50%;
    border: 0.5vw solid #98AABB;
    border-style: double;
    height: 4vw;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.avatar-user img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: calc(100%);
    height: calc(100%);
    border-radius: 50%;
}
