/*--------------------------------------*\
	    UserDisplay-PAGE : medium size;
\*--------------------------------------*/


.search-userContainer {
	width: 739px;
    height: 75px;
    padding: 5px;
  
    position: absolute;
    top: 40%;
    left: 52%;
  
	margin: -62px 0 0 -170px;
    background: #FFFFFF;
    border: 3px solid #D7E2EA;
    box-sizing: border-box;
    border-radius: 17px;

}

@media only screen and (min-width: 1200px) {

	
}

@media only screen and (min-width: 0px) and (max-width: 599px) {


    

}